
/* Vertical Spacing */
.voffset-50 {margin-top: -50px;}
.voffset-40 {margin-top: -40px;}
.voffset-30 {margin-top: -30px;}
.voffset-20 {margin-top: -20px;}
.voffset-10 {margin-top: -10px;}
.voffset10 {margin-top: 10px;}
.voffset20 {margin-top: 20px;}
.voffset30 {margin-top: 30px;}
.voffset40 {margin-top: 40px;}
.voffset50 {margin-top: 50px;}
.voffset60 {margin-top: 60px;}
.voffset70 {margin-top: 70px;}
.voffset80 {margin-top: 80px;}
.voffset90 {margin-top: 90px;}
.voffset100 {margin-top: 100px;}

/* ---------------------------------------------------------------------------------- */
/* HEADER SECTION */
.search-bar {
    margin-right: 180px;
}

/* ---------------------------------------------------------------------------------- */
/* CAROUSEL SECTION */
.carousel-inner > .item > img {
    margin: 0 auto;
    width: 100%;
}

/* ---------------------------------------------------------------------------------- */
/* CONTENT SECTION */
#kunderna-box {
    background-color: #f8f8f8;
    border-top: 1px solid #e3e3e3;
}

/* ---------------------------------------------------------------------------------- */
.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	margin: 8px 0px;
}
.hr-sect::before,
.hr-sect::after {
	content: "";
	flex-grow: 1;
	/*background: rgba(0, 0, 0, 0.35);*/
	height: 1px;
    border: double;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}

/* ---------------------------------------------------------------------------------- */
.product-name {
    text-align: center;
}
.price {
    text-align: center;
    font-weight: bold;
}

/* ---------------------------------------------------------------------------------- */
#map {
    width: 100%; height: 400px;
}

.info-window {
    font-family: 'Montserrat', sans-serif;
}
.info-content {
    color: #999;
}

/* ---------------------------------------------------------------------------------- */
.contact-form-group {
    /*margin-bottom: 50px !important;*/
    height: 50px;
}

.bigicon {
        font-size: 20px;
        color: #36A0FF;
}

/* ---------------------------------------------------------------------------------- */
/* FOOTER SECTION */
footer h4 {
    border-bottom: 2px dotted #ababab;
}

.checkout_partners {
    text-align: center;
}

    .checkout_partners span {
        background-image: url('../Images/Master/Partners.png');
        display: inline-block;
        margin: 7px 3px;
        height: 23px;
        width: 38px;
    }

    .checkout_partners .visa {
        background-position: 0 -6px;
    }

    .checkout_partners .mastercard {
        background-position: -39px -6px;
    }

    .checkout_partners .paypal {
        background-position: -78px -6px;
    }

    .checkout_partners .klarna {
        background-position: -117px -6px;
        width: 64px;
    }

    .checkout_partners .nordea {
        background-position: -185px -6px;
        width: 83px;
    }

    .checkout_partners .handelsbanken {
        background-position: -271px -6px;
        width: 104px;
    }

    .checkout_partners .swedbank {
        background-position: -377px -6px;
        width: 90px;
    }

    .checkout_partners .seb {
        background-position: -468px -6px;
        width: 42px;
    }

    .checkout_partners .bankgirot {
        background-position: -512px -6px;
        width: 84px;
    }

    .checkout_partners .divider {
        width: 1px;
        background: #e3e3e3;
        height: 37px;
        margin: 0 10px;
    }

.m1t {
    margin-top: 1em;
}

.c-12{
    position: relative;
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.c-24 {
    position: relative;
    float: left;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

ul {
    list-style: none;
}

#Tailor-Store-paragraf {
    font-size: 9px;
}
